@charset "utf-8";
/* CSS Document */

form
{
  position: absolute;
  top: 100px;
  left: 50px;

  padding-top: 25px;

  color: #111111;
  font-size: 18px;
}

form input, form select
{
  width: 250px;
  height: 25px
}

#submit_button
{
  height: 50px;
  width: 150px;

  border: none;
  background-color: #429442;

  color: #FFFFFF;
  font-size: 15px;
}

#submit_button:hover, #submit_button:active
{
  background-color: #56A056;
}

form input[type='file']
{
  color: transparent;
}

#next_button
{
  background-color: #429442;
  color: #FFFFFF;

  padding: 14px 25px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#next_button:hover, #next_button:active
{
  background-color: #56A056;
}
